{{!-- <div class="grid grid-rows-3 grid-flow-col gap-4">
  <div class="row-span-3 ...">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/ENrzD9HAZK4?si=JUt-3YYi36ofJACD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
  </div>
  <div class="col-span-2 ..."><h2></h2></div>
  <div class="row-span-2 col-span-2 ...">03</div>
</div> --}}

<div class="mt-4">
    <div class="grid grid-rows-3 grid-flow-col gap-4 p-4">
  <div class="row-span-3 p-4 ">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/{{course.videoId}}?si=BtB230yhST3bUVQw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
    <h1 class="flex justify-center">{{course.name}}</h1>
  </div>
  <div class="row-span-2 p-4 ">
    <h1 class="text-base font-bold">About this course</h1>
    <span>{{course.desc}}</span>
  </div>
  <div class="col-span-1 p-4 flex justify-center">
    {{!-- <button class="bg-blue-500 text-white px-5 py-2 rounded">Learning</button> --}}
    <div class="">
  <button
    class="nav-button hover:drop-shadow-lg] flex w-full items-center justify-center rounded-full border border-[#0c550c] bg-[#d3e763] bg-gradient-to-tr from-[#97f163] to-[#78c048]/70 px-7 py-2.5 text-base font-bold text-slate-800 ring-lime-600 ring-offset-2 ring-offset-slate-700 drop-shadow-[0px_1px_2px_rgb(0,0,0,0.3)] active:ring-1">
    <span>Join now</span>
    <svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 16 16" class="ml-2" height="1em"
      width="1em" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd"
        d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z">
      </path>
    </svg>
  </button>
</div>
  </div>

</div>

</div>



{{!-- <div class="mt-4">
    <div class="flex flex-wrap">
        <div class="w-full lg:w-1/4 mt-4 lg:mt-0 ml-auto">
            <button class="bg-blue-500 text-white px-4 py-2 rounded">Learn</button>
        </div>
        <div class="w-full lg:w-3/4 mt-4 lg:mt-0">
            <h2 class="text-xl font-bold">Nodejs Basic</h2>
            <iframe width="560" height="315" src="https://www.youtube.com/embed/ENrzD9HAZK4?si=BtB230yhST3bUVQw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </div>
    </div>
</div> --}}
