<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{!-- <script src="https://cdn.tailwindcss.com"></script> --}}
  <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>

    <title>Blog</title>
    <link rel="stylesheet" href="/css/app.css">
  </head>
  <body>
    <div class="app">
      {{> header}}
      <div class="container">
        {{{body}}}
      </div>
      {{> footer}}

    </div>
  </body>
</html>